doctype html
html(lang='en')
  head
    title ansible
    script
      :coffeescript
        {src} = require './game'
        {play} = require 'imbroglio'
        play.start src
    style
      :stylus
        @font-face
          font-family "Exo 2"
          src url(fonts/Exo2-Regular.woff)
        @font-face
          font-family "Exo 2"
          font-weight bold
          src url(fonts/Exo2-Bold.woff)
        body
          font-size 20px
          font-family "Exo 2", sans-serif
          margin 0
          padding 0
          line-height 1.5
          color black
          background-color white
        p
          margin 0
          padding 0.5em
          margin 0 auto
          max-width 40em
        .logo-container
          margin 0 auto
          max-width 50em
          padding 1em 0.5em
          padding-left 4em
          text-indent -2em
          line-height 1
        .logo
          font-size 300%
          font-weight bold
        .light
          color #bbb
        .passage, .menu
          background-color #ddd
          &.current
            background-color white
        .chosen, .current, a[href]:hover
          background-color white
          border-radius 0.2em
          box-shadow 0 0 0.3em 0.3em white
        #game
          margin-bottom 1em
        a[href]
          text-decoration none
          color #00c
          &:hover
            color #00f
        .code
          font-weight bold
        .error
          color black
          background-color red
  body
    #loading
      .menu
        :markdown
          [home](#)
      .current
        :markdown
          loading
    #404-pane.pane
      .menu
        :markdown
          [home](#)
      .current
        :markdown
          404
    #home.pane
      .menu
        .logo-container
          .logo
            span.light= '@@@ '
            span.dark ansible
            span.light= ' @@@'
      .current
        :markdown
          version #{package.version}

          [start](#!) &mdash; [credits](#/credits)
    #credits-pane.pane
      .menu
        :markdown
          [home](#)

      .current
        :markdown
          Kat Davis sent you ... "Save the World / Don't You Worry
          Child" by Pentatonix  https://www.youtube.com/watch?v=7YAcMgoSpDE

          Which is an a capella mash-up of "Save the World" and "Don't
          You Worry Child", both by Swedish House Mafia.

          http://www.gutenberg.org/files/37381/37381-h/37381-h.htm#Page_114

          [home](#)
    #game
      .menu
        :markdown
          [quit](#)
      #output
