doctype html
html(lang='en')
  head
    title ansible
    script
      :coffeescript
        $ = require 'jquery'
        $ -> $('a[href="#back"]').click ->
          window.history.back()
          false
        {src} = require './game'
        {play} = require 'imbroglio'
        play.start src
    style
      :stylus
        @font-face
          font-family "Exo 2"
          src url(fonts/Exo2-Regular.woff)
        @font-face
          font-family "Exo 2"
          font-weight bold
          src url(fonts/Exo2-Bold.woff)
        body
          font-family "Exo 2", sans-serif
          margin 0
          padding 0
          line-height 1.5
          color black
          background-color white
        p
          padding 0.5em
          margin 0 auto
          max-width 40em
        iframe
          display block
          padding 0.5em 0
          margin 0 auto
          border none
        .logo-container
          margin 0 auto
          max-width 50em
          padding 1em 0.5em
          padding-left 4em
          text-indent -2em
          line-height 1
        .logo
          font-size 300%
          font-weight bold
        .light
          color #bbb
        .passage, .menu
          background-color #ddd
          &.current
            background-color white
        .chosen, .current, a[href]:hover
          background-color white
          border-radius 0.2em
          box-shadow 0 0 0.3em 0.3em white
        #game
          margin-bottom 1em
        a[href]
          text-decoration none
          color #00c
          &:hover
            color #00f
        .code
          font-weight bold
        .error
          color black
          background-color red

        body
          font-size 20px
        iframe
          width 853px
          height 480px
        @media all and (max-width: 852px)
          body
            font-size 16px
          iframe
            width 560px
            height 315px
        @media all and (max-height: 479px)
          body
            font-size 16px
          iframe
            width 560px
            height 315px
        @media all and (min-width: 1280px) and (min-height: 720px)
          body
            font-size 28px
          iframe
            width 1280px
            height 720px
  body
    #loading
      .menu
        :markdown
          [home](#)
      .current
        :markdown
          **@@@ LOADING @@@**
    #home.pane(style="display: none;")
      .menu
        .logo-container
          .logo
            span.light= '@@@ '
            span.dark ansible
            span.light= ' @@@'
      .current
        :markdown
          version #{package.version}

          [start](#!) /// [credits](#/credits)
          /// [walkthrough](#/walkthrough)
    #404-pane.pane(style="display: none;")
      .menu
        :markdown
          [back](#back) /// [home](#)
      .current
        :markdown
          **@@@ PAGE NOT FOUND @@@**
    #game(style="display: none;")
      .menu
        :markdown
          [quit](#)
      #output
    #credits-pane.pane(style="display: none;")
      .menu
        :markdown
          [back](#back) /// [home](#)

      .current
        :markdown
          Kat Davis sent you "Save the World / Don't You Worry
          Child" by Pentatonix

          <iframe src="https://www.youtube.com/embed/7YAcMgoSpDE?rel=0&showinfo=0&cc_lang_pref=en&cc_load_policy=1" allowfullscreen></iframe>

          Which is an a capella mash-up of "Save the World" and "Don't
          You Worry Child," both by Swedish House Mafia.

          [back](#back) /// [home](#)
    #walkthrough-pane.pane(style="display: none;")
      .menu
        :markdown
          [back](#back) /// [home](#)

      .current
        :markdown
          Oh, uh, first off, in case I don't get to this elsewhere:
          If you're not playing the most recent version of the game,
          hosted at <http://toastball.net/games/ansible/>, you might
          want to head over there now.

          Also, if you need to get in touch with me, you can do so
          at <zaphod@toastball.net>.  Two things which are often
          extremely helpful to include in bug reports or other
          comments are **links** to whichever bit of the game you
          want to refer to (the full URL works great, or you can
          cut off everything before the # if you prefer), and the
          **version number**, which can be found on the [front
          page](#).

          This page contains spoilers!  It's an explanation of how
          to reach the various endings in the game, for the benefit
          of my long-suffering beta-testers.  Maybe for the benefit
          of everyone.  We'll see.

          Obviously (?) there are a lot of &ldquo;endings&rdquo;
          with a **@@@ CONNECTION LOST @@@** message, but my (naive?)
          hope is that the player will figure out that all of the
          choices they've been offered so far remain active, so
          they can go back and try something else.  So, at least
          from the player's perspective, those aren't meant to be
          endings at all.  You can tell when you get to a
          &ldquo;real&rdquo; ending because it dumps you back out
          on the [credits](#/credits) page.

          So I mean, assuming the player is able to figure out the
          control scheme at all (which remains an open question, I
          suppose), in principle it's just a matter of lawnmowering
          all the choices, right?  So there should be no need for
          a walkthrough at all?  I don't think this is true in
          general, but I do think it's true of this particular game,
          at least once you get past the card trick, which holds
          no real surprises.  Which is why I'm considering removing
          this page before releasing the game.

          In the meantime, since testing has not yet firmly established
          that no walkthrough is necessary, let's get started, shall
          we?  I've foolishly included some links, which seem likely
          to break as I tinker with the game, so I apologize in
          advance for that.  (But please do remind me to fix them!)

          Intro: [Yes](#!a), [no](#!ab).  These are not trick
          questions.

          Now we can do the card trick.  From the top: Yes,
          [yes](#!aa), trumps, eleven, [sixteen](#!aaebf), yes,
          [yes](#!aaebfaa).

          The player is meant to explore various dead ends from
          this point.  One example: [water](#!aaebfaaa), no good,
          crossroads, north, home, yes, [north](#!aaebfaaabbaaaa).

          The campfire: [ring](#!aaebfaab), no, not, [no](#!aaebfaabbbb).

          A clue: Check it out, closer, [lay low](#!aaebfaabbbbaab).

          Another clue: [pretend](#!aaebfaabbbbaaa), what, no,
          [wow](#!aaebfaabbbbaaaaba).

          Ending(-ish): [do it](#!aaebfaabbbbaaaaa), listen,
          questions, [sword](#!aaebfaabbbbaaaaaaac)... hmm, this
          was supposed to lead to something, but it doesn't seem
          to be reachable as I write this.  There's a bug.  Imagine
          that!  I'll come back to this I guess.  (Feel free to
          remind me!)

          Endier: [do it](#!aaebfaabbbbaaaaa), listen,
          [suggest](#!aaebfaabbbbaaaaaab), Uda, no,
          [yes](#!aaebfaabbbbaaaaaababa).  From this point there
          is only one real choice, leading to two different endings.

          There are a few more bits that might be worth pointing
          out, such as the ones where you ask to see the boots and
          end up agreeing to let one of the giants hold on to your
          ring.

          [back](#back) /// [home](#)
