doctype html
html(lang='en')
  head
    title untitled ShuffleComp game
    script
      :coffeescript
        {src} = require './game'
        {play} = require 'imbroglio'
        play.start src
    style
      :stylus
        @font-face
          font-family "Exo 2"
          src url(fonts/Exo2-Regular.woff)
        @font-face
          font-family "Exo 2"
          font-weight bold
          src url(fonts/Exo2-Bold.woff)
        body
          font-family "Exo 2", sans-serif
          margin 0 auto
          padding 0.5em
          max-width 40em
          line-height 1.5
          color black
          background-color #ddd
        .chosen, .current, a[href]:hover
          background-color white
          border-radius 0.2em
          box-shadow 0 0 0.3em 0.3em white
        a[href]
          text-decoration none
          color #00c
          &:hover
            color #00f
        .code
          font-weight bold
        .error
          color black
          background-color red
  body
    #loading
      :markdown
        loading [home](#)
    #404-pane.pane
      :markdown
        404 [home](#)
    #home.pane
      :markdown
        home [start](#!) [credits](#/credits)
    #credits-pane.pane
      :markdown
        credits [home](#)
    #game
      :markdown
        game [home](#)
      #output
